[Unit]
Description=Clear cliphist history
After=graphical-session.target

[Service]
Type=oneshot
ExecStart=%h/.config/hypr/scripts/cliphist-auto-clear.sh

